body {
  background-color: black;
  color: white;
  font-family: Windsor;
}

.title {
	text-align: center;
	font-size: 200%;
}

.link {
	text-align: center;
}

a {
	display: block;
	color: white;
}

@font-face {
  font-family: Windsor;
  src: url("Windsor Regular.ttf");
}
